*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Auth*/
.wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(43, 19, 63);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-auth{
  width: 500px;
  height: 400px;
  border: 1px solid white;
}

.test{
  color: greenyellow;
  font-size: 25px;
  animation: test infinite linear 3s;
}

@keyframes test{
  0%{
    transform:translate(0);
  }
  100%{
    transform: translate(500px);
  }
}