*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 0, 58);
}

.main-box{
  width: 700px;
  height: 400px;
  background-color: black;

}

.text{
  color: yellowgreen;
}

.output{
  width: 100px;
  height: 50px;
  background-color: white;
}